
<html>
<head>
    <title> new template </title>
</head>
<body>
    <p> Hello ejs </p>
    <p> Hi <%= name %></p>
    <p> id: <%= id %></p>

    <input id="new-temp-val" type="text">
    <div id="new-temp"></div>
</body>

<script type="text/javascript" src="/ejs.min.js"></script>

<script type="text/javascript" src="/views/main.js"></script>
</html>
